.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #ebebeb;
    height: 2600px;
}

#adminAll {
    height: 1600px;
}

.content-area h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorie {
    padding-top: 45px;
    font-size: 45px;
    font-family: "Categorie";
    text-decoration: underline;
}

@font-face {
    font-family: "Product";
    src: url("../fonts/Itim-Regular.ttf");
}

@font-face {
    font-family: "Categorie";
    src: url("../fonts/ATypewriterForMe.ttf");
}

.pages {
    font-size: 100px;
}



