.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #ebebeb;
    height: 1500px;
}
.content-area h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}