.main-hr {
    width: 30%;
    border: none;
    border-top: 1px solid #c3c3c3;
}
.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
}
.add-btn:hover {
    width: 120px;
}
.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
}
.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.icon-btn:focus {
    outline: none;
}
.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}
.add-btn:hover .btn-txt {
    opacity: 1;
}
.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
}
.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.block_product {
    padding: 10px;
    margin: -300px;
    margin-top: 65px;
    border: 1px black solid;
}

.block_product img {
    width: 100px;
}

.block_product p {
    text-align: center;
    font-size: 15px;
}

.prix {
    font-size: 20px;
    display: flex;
}

table {
    margin-top: 50px;
    border: medium solid #6495ed;
    border-collapse: collapse;
    font-size: 25px;
    padding: 50px;
}

th {
    font-family: monospace;
    border: thin solid #6495ed;
    background-color: #D0E3FA;
    padding-right: 120px;
    padding-left: 120px;
}

td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    text-align: center;
    background-color: #ffffff;
}

.prix {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.borderFoot {
    border: none;
    padding-bottom: 15px;
    font-family: Product;
}

.img img {
    width: 180px;
}
