.form_contact {
    background: rgba(255,255,255,0.8);
    margin-top: 75px;
    border: 2px gray solid;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: -60px;
    padding: 20px;
}

.form_contact p {
    font-family: Categorie;
    font-size: 45px;
}

form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-top: 25px;
    font-size: 30px;
}

form textarea {
    height: 350px;
    max-height: 555px;
    max-width: 1520px;
    min-height: 100px;
    min-width: 560px;
}

#launch {
    margin-left: auto;
    width: 200px;
}

.content-area {
    height: 1450px;
}

input::placeholder, textarea::placeholder {
    text-align: center;
    font-family: Categorie;
}

.launch input {
    background: whitesmoke;
    color: black;
    transition-duration: 0.5s;
    border: 1px #393c45 solid;
    padding: 10px;
    font-family: Categorie;
}

.launch input[type="submit"]:hover {
    background: #2c3338;
    color: white;
    transition-duration: 0.5s;
    border: 1px #393c45 solid;
}
